.fondo-personalizado {
    background-color: darkorange;
}

.botonsubir,
.botonatras {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.botonsubir .svgIcon,
.botonatras .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.botonsubir .svgIcon path,
.botonatras .svgIcon path {
    fill: white;
}

.botonsubir:hover,
.botonatras:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
}

.botonsubir:hover .svgIcon,
.botonatras:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.botonsubir::before,
.botonatras::before {
    position: absolute;
    bottom: -20px;
    color: white;
    font-size: 0px;
}

.botonsubir:hover::before,
.botonatras:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

/* Botón Subir */
.botonsubir::before {
    content: "Quiero subir!";
}

/* Botón Atrás */
.botonatras::before {
    content: "Volver atrás";
}

.botonatras .svgIcon {
    transform: rotate(-90deg);
    /* Gira la flecha "arriba" para que sea "izquierda" */
}

/* Mantiene la rotación al animar */
.botonatras:hover .svgIcon {
    transform: translateY(-200%) rotate(-90deg);
}